@import "styles/variables";

.userInfo {
    @include centered();
    min-height: 100%;
    width: 90%;
    .mainInfo, .secondaryInfo {
        @include centered();
        margin-top: 3%;
        padding: 20px;
        width: 100%;
        justify-content: space-evenly;
        text-align: left;
        flex-direction: row;
        border: 1px solid $dark;
        border-radius: 20px;
        &__avatar {
            @include centered();
            width: 40%;
            img {
                width: 250px;
                border-radius: 100%;
                border: 2px solid $dark;
            }
        }
        &__info {
            width: 50%;
            border-left: 5px solid $mainColor;
            padding-left: 20px;
            h3 {
                color: $mainColor;
                span, a {
                    color: white;
                    font-weight: normal;
                }
            }
        }
    }
    .secondaryInfo {
        justify-content: space-evenly;
        &__first, &__second {
            width: 40%;
            font-size: 0.8rem;
            border-left: 3px solid $dark;
            padding-left: 20px;
            h3 {
                color: $mainColor;
                span {
                    color: white;
                    font-weight: normal;
                }
            }
        }
        &__about {
            @include centered();
            img {
                width: 40px;
                margin-bottom: 10%;
            }
            p {
                font-size: 0.7rem;
                color: lightgray;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .userInfo {
        .mainInfo{
            flex-direction: column;
            &__avatar, &__info {
                width: 100%;
                margin: 3% auto;
            }
        }
        .secondaryInfo {
            flex-direction: column;
            &__first, &__second, &__about {
                width: 100%;
                margin: 3% auto;
            }
            &__about {
                img {
                    margin-bottom: 2%;
                }
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .userInfo {
        margin: 5% auto;
        .mainInfo{
            &__avatar {
                img {
                    width: 200px;
                }
            }
            &__info {
                border: none;
                padding: 0;
                word-wrap: break-word;
            }
        }
        .secondaryInfo {
            &__first, &__second {
                border: none;
                padding: 0;
                word-wrap: break-word;
            }
            &__about {
                margin: 10% auto;
            }
        }
    }
}