@import 'styles/variables';

.mainContainer {
	@include centered();
	width: 100%;
	min-height: 100vh;
    flex-direction: row;
	background-color: $darker;
	color: white;
    .navContainer {
        @include centered();
        background-color: $dark;  
        justify-content: flex-start;
        min-height: 100%;
        width: 20%;
        &__userInfo {
            @include centered();
            flex-direction: row;
            justify-content: space-evenly;
            margin: 20% auto;
            width: 80%;
            .avatar {
                width: 80px;
                border-radius: 40px;
            }
        }
        &__btnContainer {
            @include centered();
            width: 100%;
        }
    }
    .dataContainer {
        @include centered();
        width: 80%;
        min-height: 100%;
    }
}