@import "styles/variables";

.homeTitle {
	@include centered();
	width: 80%;
	&__title {
		font-family: $titleFont;			
	}
	&__subtitle {
		font-family: $titleFont;
		font-weight: normal;
	}
}
.userInput {
	@include centered();
	width: 80%;
	&__input {
		width: 50%;
		padding: 20px;
		outline: none;
		color: white;
		border: 1px solid white;
		border-radius: 15px;
		background-color: transparent;
		margin-bottom: 2%;
		transition: 240ms ease-in-out;
		&:hover, &:focus {
			background-color: $dark;
		}
	}
	&__error {
		font-weight: bold;
		color: $mainColor;
		margin-bottom: 3%;
	}
	&__btn {
		width: 40%;
		padding: 15px;
		outline: none;
		border: none;
		border-radius: 15px;
		color: white;
		font-weight: bold;
		background-color: $btn-orange;
		transition: 240ms ease-in-out;
		cursor: pointer;
		&:hover {
			background-color: $btn-darker-orange;
		}
	}
	.disabled {
		opacity: 0.6;
		cursor: default;
		&:hover {
			background-color: $btn-orange;
		}
	}
}

.invisible {
	display: none;
}

@media screen and (max-width: 768px) {
	.userInput {
		&__input {
			width: 80%;
			margin-bottom: 3%;
		}
		&__btn {
			margin-top: 3%;
			width: 70%;
		}
	}
}